<!doctype html>

<html>

	<head>
		<title>Edit Post - {{post[1]}}</title>
	</head>

	<body>
		<div>
			<h1>Please change any post information you wish</h1>
			<p>You will be taken back to the dashboard upon successfully adding a post.</p>
			<p>Warning: Do not leave anything blank as this update will override the post with all changes present in the input fields.</p>
		</div>
		<div class="app">
			<form action="/edit_post/{{post[0]}}" method="post">
				<label for="title">
					Title
				</label>
				<input type="text" name="title" value="{{post[1]}}" placeholder="{{post[1]}}">
				<label for="author">
					Author
				</label>
				<input type="text" name="author" value="{{post[3]}}" placeholder="{{post[3]}}">
				<label for="content">
					Content
				</label>
				<textarea name="content" placeholder="{{post[4]}}">{{post[4]}}</textarea>
				<button type="submit" class="submit">Update Post</button>
			</form>
			{% if error_messages %}
 				<div>{{error_messages}}</div>
			{% endif %}
		</div>
	</body>

</html>