<!doctype html>

<html>

	<head>
		<title>{{post[1]}}</title>
	</head>

	<body>
		<div>
			<a href="/">
				<button>Back to homepage</button>
			</a>
			<a href="/dashboard">
				<button>Back to dashboard</button>
			</a>
		</div>
		<div class="app">
			<div>
				<h2>{{post[1]}}</h2>
				<p>Published on: {{post[2]}}</p>
				<p>Written by: {{post[3]}}</p>
				<br>
				{% autoescape false %}
					<p>{{post[4]}}</p>
				{% endautoescape %}
			</div>
		</div>
	</body>

</html>